<div id="main">
<h2>カテゴリ</h2>
  <ul>
         <li><%= link_to "芸能", geinou_path,method: :get %></li>
         <li><%= link_to "恋愛・結婚", love_path,method: :get %></li>
        <li><%= link_to "政治・経済", politics_path,method: :get %></li>
         <li><%= link_to "ニュース", news_path,method: :get %></li>
         <li><%= link_to "健康・医学", medical_path,method: :get %></li>
         <li><%= link_to "マンガ・アニメ", cartoon_path,method: :get %></li>
         <li><%= link_to "食", food_path,method: :get %></li>
         <li><%= link_to "TV・映画", movie_path,method: :get %></li>
         <li><%= link_to "スポーツ", sports_path,method: :get %></li>
         <li><%= link_to "自然・科学", nature_path,method: :get %></li>
         <li><%= link_to "音楽", music_path,method: :get %></li>
         <li><%= link_to "カルチャー", clture_path,method: :get %></li>
         <li><%= link_to "教育", education_path,method: :get %></li>
         <li><%= link_to "生活", life_path,method: :get %></li>
         <li><%= link_to "お金", money_path,method: :get %></li>
        <li><%= link_to "動物", animal_path,method: :get %></li>
         <li><%= link_to "IT", it_path,method: :get %></li>
         <li><%= link_to "海外", overseas_path,method: :get %></li>
        <li><%= link_to "アダルト", adult_path,method: :get %></li>
         <li><%= link_to "その他、雑談", sonota_path,method: :get %></li>
         </ul>
</div>

