<div class="tab">
  <div class="tab-btn"></div>
  <div id="main">
    <% if @topics.length == 0 %>
      <h2>検索結果が見つかりません</h2>
    <% end %>
    <% @topics.each do |topic| %>
      <div class="topic">
        <h3><%= image_tag 'yazi.png',:size => '20x20' %><%= link_to topic.title, "/topics/#{topic.id}",:style=>"margin-left:-10px;",method: :get %>
        </h3>
        <div class="topicdetail">
          投稿者：<%= topic.name %>
          /コメント：<%= topic.coms %>
          /投票：<%= topic.pollnum %>
        </div>
      </div>
    <% end %>
    <%= paginate(@topics) %>
  </div>
</div>
